<suite name="PlaywrightSuite1">
    <test name="BasicTests">
        <parameter name="browser" value="firefox"/>
        <classes>
        <class name ="tests.JobTitleSearchTest"/>
        <class name ="tests.JobCategorySearchTest"/>
       <!-- <class name ="tests.NoMatchJobSearchTest"/>
        <class name ="tests.ClearAllFiltersTest"/> -->

          </classes>
      </test>

  </suite>









